doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title PeerTube - Browser P2P Video Streaming
        meta(name="description" content="Browser P2P Video Streaming")
        meta(name="keywords" content="peertube, p2p, p2p video, peerify, webseed, βTorrent, btorrent, webtorrent, browser, torrent, stream, bittorrent, torrenting, sharing, filesharing")
        meta(name="author" content="Diego Rodríguez Baquero - DiegoRBaquero")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/peertube.css")
    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") PeerTube
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/") Home
                        li
                            a(href="https://diegorbaquero.com" target="_blank") Contact
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/upload") Upload
        .container
            block content

            footer.row(style="margin-top: 20px")
            hr
            b PeerTube is a project by 
                a(href="https://diegorbaquero.com" target="_blank") DiegoRBaquero
            br
            small Hosted by 
                a(href="https://m.do.co/c/0b25a910e6e4" target="_blank") Digital Ocean
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        block scripts
